build/*
*.egg-info/*
tmp/*
__pycache__/*
.vscode/*
*.aux
*.bbl
*.bcf
*.blg
*.csv
*.dbf
*.dta
*.fls
*.geojson
*.gpkg
*.ipynb_checkpoints
*.log
*.out
*.pqt
*.qpj
*.RData
*.Rds
*.run.xml
*.shp
*.shx
*.spq
*.swp
*.synctex.gz
*.tab
*.xlsx
**/*_cache/*
pyensmallen/_pyensmallen.cpython-312-x86_64-linux-gnu.so
pyensmallen/__pycache__/__init__.cpython-312.pyc
